#box1{
    background-color: skyblue;
    border: 5px solid;
    height: 300px;
    width: 300px;
    position: sticky;
    top:100px;
    right: 20px;

}

#box2{
    background-color: tomato;
    border: 5px solid;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 150px;

}