a:link{
    color: skyblue;
}
a:visited{
    color: gray;
}
a:hover{
    color: tomato;
}
a:active{
    color: blue;
}
button:hover{
    background-color: red;
}
li:nth-child(2n+1){
    color: green;
}

h2{
    text-shadow: 5px 5px 5px green;

    box-shadow: 5px 5px 5px red;
}